*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 10px;
    padding: 20px;
    background-color: rgb(229, 50, 235);
}
.card-text{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: black;
}
.card-text-name{
    text-decoration: underline;
    transition: all 1s ease;
}
.card-text-name:hover{
    transform: scale(1.1, 1.1);
}
.ItemImg{
    width: 160px;
    height: 175px;
    margin-left: 5px;
}